/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}
.login-content h1 {
  font-size: 4em;
  font-weight: 600;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  overflow: auto;
}
.login-input {
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--text);
  caret-color: auto;
  font-size: 1.8em;
  height: 20px;
  width: 30%;
  margin: 10px 5px;
  padding: 15px;
  background-color: var(--input-background);
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 2px 4px 6px -2px var(--box-shadow);
}
.login-input::placeholder {
  color: var(--primary);
  opacity: 0.6;
}
.login-remember {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: center;
  margin: 10px;
}
.login-remember p {
  font-size: 1.6em;
}
.login-checkbox {
  margin: 5px;
}
.login-submit {
  color: var(--text-dark);
  margin-top: 20px;
  margin: 10px;
  padding: 15px 40px;
  font-size: 2em;
  font-weight: 800;
  background-color: var(--primary);
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 2px 4px 6px -2px var(--box-shadow);
  cursor: pointer;
}
.login-submit:hover {
  color: var(--primary);
  background-color: var(--box-background);
  border: 2px solid var(--primary);
}