/* Dashboard */
.dashboard-container {
  width: 96%;
}
.dashboard-container h1 {
  font-size: 4em;
}
.dashboard-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dashboard-header .icon {
  cursor: pointer;
}